<h1>Editing channel</h1>

<% form_for(@channel) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr><th><%= f.label :address %><td><%= f.text_field :address %></tr>
    <tr><th><%= f.label :contact %><td><%= f.select :contact_id,
      Contact.all.collect { |c| [c.full_name, c.id] } %></tr>
    <tr><th><%= f.label :mechanism %><td><%= f.select :mechanism_id,
      Mechanism.all.collect { |m| [m.designation, m.id] } %></tr>
    <tr><th><%= f.label :enabled %><td><%= f.check_box :enabled %></tr>
  </table>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p class="navigation">
<%= link_to 'Show', @channel %> |
<%= link_to 'Back', channels_path %>
</p>