<h1>New group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr><th><%= f.label :name %><td><%= f.text_field :name %></tr>
    <tr><th><%= f.label :description %><td><%= f.text_field :description %></tr>
    <tr><th><%= f.label :enabled %><td><%= f.check_box :enabled %></tr>
  </table>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p class="navigation">
<%= link_to 'Back', groups_path %>
</p>
