<h1>Editing keyword</h1>

<% form_for(@keyword) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr><th><%= f.label :designation %><td><%= f.text_field :designation %></tr>
    <tr><th><%= f.label :parent %><td><%= f.collection_select :parent_id,
      Keyword.all, :id, :designation %></tr>
  </table>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p class="navigation">
<%= link_to 'Show', @keyword %> |
<%= link_to 'Back', keywords_path %>
</p>