<h1>New keyword</h1>

<% form_for(@keyword) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr><th><%= f.label :designation %><td><%= f.text_field :designation %></tr>
    <tr><th><%= f.label :parent %><td><%= f.collection_select :parent_id, Keyword.all,
    :id, :designation, { :include_blank => true } %>
    <tr><th><%= f.label :time_window %><td><%= collection_select :time_window_id, Keyword.all,
    :id, :designation, { :include_blank => true } %>
  </table>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p class="navigation">
<%= link_to 'Back', keywords_path %>
</p>
