<h1>Listing acknowledgments</h1>

<table>
  <tr><th>From<th>Body<th>Status<th>Created At<th>Notification<th>Options
  </tr>

<% @acknowledgments.each do |acknowledgment| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= Channel.find_by_address(acknowledgment.from).contact.username %>
    <td><%= acknowledgment.body %>
    <td><%= acknowledgment.status %>
    <td><%= acknowledgment.created_at %>
    <td><%= link_to acknowledgment.notification.id, 
      notification_path(acknowledgment.notification.id) unless acknowledgment.notification.nil? %>
    <td><%= link_to 'Show', acknowledgment %> |
    <%= link_to 'Edit', edit_acknowledgment_path(acknowledgment) %> |
    <%= link_to 'Destroy', acknowledgment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p class="navigation">
<%= link_to 'New acknowledgment', new_acknowledgment_path %>
</p>
